**

!Dockerfile
!nginx.conf
!index.html
!resume.html
!coverletter.html
!api-spec.html
!resume.pdf
!assets/
!assets/images/
!assets/images/**
!homeserver/
!homeserver/compose.yaml
!homeserver/runtime-config.Dockerfile
!homeserver/scripts/
!homeserver/scripts/deploy-portfolio.sh
